body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.app {
  width: 100%;
  max-width: 800px;
  padding: 5px 15px 5px 15px;
  box-sizing: border-box;
}

.question-container {
  text-align: center;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.score-container {
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.option-button {
  background-color: #1f1f1f;
  color: #ffffff;
  border: 1px solid #333;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


@media (max-width: 1000px) {
  .app {
    padding: 10px;
  }

  .option-button {
    font-size: 14px;
  }
}

@media (max-width: 1600px) {
  .app {
    padding: 10px 20px 10px 20px;
  }

  .option-button {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .app {
    padding: 60px;
  }

  .option-button {
    font-size: 24px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.active {
  background-color: #04AA6D;
}

.correct {
  background-color: #04AA6D;
}